@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

:root {
  --font-one: "Inter", sans-serif;
  --font-two: "Lexend Deca", sans-serif;
  --background-main: hsl(233, 47%, 7%);
  --background-card: hsl(244, 38%, 16%);
  --background-img: hsla(277, 65%, 34%, 0.589);
  --color-text: hsl(0, 0%, 100%);
  --color-p: hsla(0, 0%, 100%, 0.75);
  --color-items: hsla(0, 0%, 100%, 0.6);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 105vh;
  background-color: var(--background-main);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

.card {
  width: 350px;
  max-width: 750px;
  overflow: hidden;
  background-color: var(--background-card);
  height: auto;
  border-radius: 12px;
}

.img-container {
  background-image: url("./images/image-header-mobile.jpg");
  padding: 150px;
  text-align: center;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.img-container::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--background-img);
}

.text-container {
  text-align: center;
  padding: 20px 30px 0;
  font-family: var(--font-one);
}

.title-card {
  font-weight: 700;
  color: var(--color-text);
  font-size: 28px;
}

.purple {
  color: hsl(277, 64%, 61%);
}

.text-card {
  color: var(--color-p);
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  margin: 20px 0;
}

.items-card .num-item {
  font-size: 22px;
  font-weight: 700;
  color: var(--color-text);
  margin-bottom: 3px;
}

.items-card .text-item {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 400;
  font-family: var(--font-two);
  color: var(--color-items);
  letter-spacing: 2px;
  display: block;
  margin-bottom: 20px;
}

@media (min-width: 1000px) {
  .card {
    width: 1200px;
    display: flex;
    flex-direction: row-reverse;
  }

  .img-container {
    background-image: url("./images/image-header-desktop.jpg");
    padding: 170px;
    text-align: center;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }

  .text-container{
      text-align: start;
        padding: 30px;
  }

  .items-card{
      display: flex;
      justify-content: space-around;
  }
}

/* .attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
} */
